<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pongshy.assistant.dao.tasksDOMapper" >
  <resultMap id="BaseResultMap" type="com.pongshy.assistant.model.entity.tasksDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="taskName" property="taskname" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="lft" property="lft" jdbcType="INTEGER" />
    <result column="rgt" property="rgt" jdbcType="INTEGER" />
    <result column="mainTaskId" property="maintaskid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, taskName, tag, lft, rgt, mainTaskId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pongshy.assistant.model.entity.tasksDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tasks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tasks
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tasks
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pongshy.assistant.model.entity.tasksDOExample" >
    delete from tasks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pongshy.assistant.model.entity.tasksDO" >
    insert into tasks (id, taskName, tag, 
      lft, rgt, mainTaskId
      )
    values (#{id,jdbcType=INTEGER}, #{taskname,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{lft,jdbcType=INTEGER}, #{rgt,jdbcType=INTEGER}, #{maintaskid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pongshy.assistant.model.entity.tasksDO" >
    insert into tasks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskname != null" >
        taskName,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="lft != null" >
        lft,
      </if>
      <if test="rgt != null" >
        rgt,
      </if>
      <if test="maintaskid != null" >
        mainTaskId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskname != null" >
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="lft != null" >
        #{lft,jdbcType=INTEGER},
      </if>
      <if test="rgt != null" >
        #{rgt,jdbcType=INTEGER},
      </if>
      <if test="maintaskid != null" >
        #{maintaskid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pongshy.assistant.model.entity.tasksDOExample" resultType="java.lang.Integer" >
    select count(*) from tasks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tasks
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskname != null" >
        taskName = #{record.taskname,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.lft != null" >
        lft = #{record.lft,jdbcType=INTEGER},
      </if>
      <if test="record.rgt != null" >
        rgt = #{record.rgt,jdbcType=INTEGER},
      </if>
      <if test="record.maintaskid != null" >
        mainTaskId = #{record.maintaskid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tasks
    set id = #{record.id,jdbcType=INTEGER},
      taskName = #{record.taskname,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      lft = #{record.lft,jdbcType=INTEGER},
      rgt = #{record.rgt,jdbcType=INTEGER},
      mainTaskId = #{record.maintaskid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pongshy.assistant.model.entity.tasksDO" >
    update tasks
    <set >
      <if test="taskname != null" >
        taskName = #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="lft != null" >
        lft = #{lft,jdbcType=INTEGER},
      </if>
      <if test="rgt != null" >
        rgt = #{rgt,jdbcType=INTEGER},
      </if>
      <if test="maintaskid != null" >
        mainTaskId = #{maintaskid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pongshy.assistant.model.entity.tasksDO" >
    update tasks
    set taskName = #{taskname,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      lft = #{lft,jdbcType=INTEGER},
      rgt = #{rgt,jdbcType=INTEGER},
      mainTaskId = #{maintaskid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>